.titulo{
    text-align: center;
    margin-bottom: 30px;
}

.titulo h2{
    font-weight: normal;
    color: #555;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #a18cd1);
    overflow: hidden;
}

.caixa{
    text-align: center;
    padding: 40px;
    max-width: 600px;
    border-radius: 20px;
    
    backdrop-filter: blur(10px);

    transform: translateY(-200px);
    text-align: center;
    padding: 40px;
    width: 90%;
    max-width: 600px;
    
background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.caixa h2{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    margin-bottom: 15px;
}

.caixa h1{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 15px;
}

.botoes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    padding: 12px 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

#sim{
    background: #4CAF50;
    color: white;
}

#sim:hover{
    transform: scale(1.05);
}

#nao{
    position: relative;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Imagem de cima */
body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url("topo.jpg") center/cover no-repeat;
    z-index: -2;
}

/* Imagem de baixo */
body::after{
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url("baixo.jpg") center/cover no-repeat;
    z-index: -2;
}
